* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* COLORS */

:root {
  --primary-color-background-dark: #1b1b1b;
  --primary-color-background-light: #FFFFFF;
  --secondary-background: #E2DFDE;
  /* --button-color: #FFB7C5; */
  --text-color: #1b1b1b;
  /* --button-border-red: #ae2012; */
  --button-border: #c32f27;
  --button-border-black: #1b1b1b;
  --primary-color-background-transparent: rgba(255, 255, 255, 0.3);
  /* Priehľadná biela farba */
  --button-hover: #d14081;
  --background-dark: #313638;
  /* --border: #d14081; */
  --border: #FFFFFF;
  --hover: #f89201;
  --border-transparent: rgba(255, 255, 255, 0.3);
  --text-light: #FFFFFF;

}

/* FONTS */

body {
  font-family: "Open Sans", sans-serif;
  /* font-family: "Moderustic", sans-serif; */
}


.roboto-mono-<uniquifier> {
  font-family: "Roboto Mono", monospace;
}

/* NAVBAR */


.navbar-header {
  display: flex;
  justify-content: space-between;
  /* padding: 30px 70px; */
  padding: 20px 70px;
  background-color: var(--primary-color-background-light);
  flex-direction: row;
  align-items: center;
  position: relative;
  width: 100%;
}

.navbar-navigation {
  display: flex;
  /* width: 70%; */
  flex-grow: 2;
  justify-content: flex-end;
  gap: 50px;
}

.navbar-link {
  text-decoration: none;
  color: var(--text-color);
  text-transform: lowercase;
  /* font-size: 30px; */
  font-size: 1.3rem;
  letter-spacing: 7px;
}

.navbar-link:hover {
  color: var(--hover);
}

/* .navbar-logo {
  font-weight: 900;
  font-size: 1.7rem;
  text-transform: uppercase;
  z-index: 2;
} */

.navbar-logo {
  width: 150px;
  height: auto;
}


.hamburger {
  display: none;
}

/* Responsive - MOBILE */
@media (max-width: 768px) {
  .hamburger {
    display: flex;
    cursor: pointer;
    /* font-size: 35px; */
    font-size: 1.5rem;
    /* Adjust the size as needed */
    background: none;
    border: none;
    z-index: 2;
    /* Ensure the button stays above the menu */
  }

  .navbar-navigation {
    display: none;
    /* Initially hide the menu */
    position: absolute;
    /* top: 120px; */
    top: 125px;
    /* Adjust the top value based on the height of your header */
    left: 0;
    background-color: var(--primary-color-background-light);
    /* padding: 10px 0; */
    gap: 10px;
    z-index: 1;
  }

  .navbar-navigation.open {
    display: flex;
    /* Show menu when open */
    flex-direction: column;
    width: 100%;
    align-items: center;
    background-color: transparent;
    line-height: 3rem;
    gap: 5px;
    padding-top: 5px;
  }

  .navbar-link {
    display: inline-block;
    /* color: var(--button-hover); */
    background-color: var(--primary-color-background-light);
    width: 90%;
    text-align: center;
    border: 1px solid var(--button-border-black);
    border-radius: 5px;
    font-size: 0.8rem;
    letter-spacing: 6px;
  }

  .navbar-link:hover {
    background-color: transparent;
  }

  .navbar-header {
    /* height: 70px; */
    padding-left: 5%;
    padding-right: 5%;
  }

  .navbar-logo {
    width: 80px;
  }

  /* .navbar-logo {
    margin: 0;
  } */
}

/* HOME */
/* HERO SECTION */

.hero-section {
  background-image: url('./img/heroo1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  /* color: white; */
}

.button-hero {
  border: 1px solid var(--primary-color-background-transparent);
  border-radius: 5px;
  background-color: transparent;
  font-size: 1.1rem;
  letter-spacing: 6px;
  color: var(--text-color);
  margin: 50px;
  padding: 30px 70px;
  text-transform: lowercase;
  cursor: pointer;
}

.button-hero:hover {
  /* color: var(--hover); */
  border: 0px solid var(--border);
  background-color: var(--primary-color-background-transparent);
  /* background-color: transparent; */
}

.buttons-hero {
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
  justify-content: center;
  padding-top: 80px;
}

/* Responsive - MOBILE */
@media (max-width: 768px) {
  .buttons-hero {
    flex-direction: column;
    padding-top: 15%;
  }

  /* .button-hero {

  } */

  .hero-section {
    background-image: url('./img/hero-mobile.jpg');
    background-position: center;
    justify-content: flex-start;
    align-items: center;
  }
}

/* ABOUT US - O NAS */

.aboutus {
  /* background-color: var(--secondary-background); */
  background-color: var(--primary-color-background-dark);
  /* color: var(--text-color); */
  color: var(--text-light);
  padding: 170px 40px;
  /* height: 70vh; */
  /* height: 100vh; */
  /* padding-top: 10%; */
  letter-spacing: 2px;
}

.paragraphs-aboutus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 170px 30px; */
  text-align: center;
  font-size: 1.5rem;
  gap: 40px;
}

/* Responsive - MOBILE */
@media (max-width: 768px) {
  .paragraphs-aboutus {
    font-size: 1.2rem;
  }
}


/* IMAGES - ABOUT US */


.figures {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

@media (max-width: 768px) {
  .figures {
    flex-direction: column;
  }
}

.figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-profile-wrapper {
  width: 200px;
  height: 200px;

}

.img-profile {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: solid 1.5px var(--border);
}


.name-aboutus {
  font-family: "Playwrite CZ", cursive;
  padding: 30px;
}

/* FOOTER */

.footer {
  background-color: var(--primary-color-background-dark);
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 70px;
}

.footer-links {
  display: flex;
  flex-direction: row;
  /* width: 100%; */
  /* justify-content: flex-end; */
  align-items: center;
}

.social-media-icon {
  color: var(--primary-color-background-light);
  font-size: 1.5rem;
  margin-left: 70px;
}

.copyright {
  color: var(--text-light);
  /* margin: 30px 20px 20px 20px; */
  font-size: 0.7rem;
}

@media (max-width: 768px) {
  .footer {
    padding-left: 5%;
    padding-right: 5%;
  }
}

/* CZECH HANDWRITING FONT: font-family: "Playwrite CZ", cursive; */
