* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* COLORS */

:root {
  --primary-color-background-dark: #1b1b1b;
  --primary-color-background-light: #FFFFFF;
  --secondary-background: #E2DFDE;
  --text-color: #1b1b1b;
  --button-border: #c32f27;
  --button-border-black: #1b1b1b;
  --primary-color-background-transparent: rgba(255, 255, 255, 0.3);
  --heart-icon: #f89201;
  --background-dark: #313638;
  --border: #FFFFFF;
  --hover: #f89201;
  --border-transparent: rgba(255, 255, 255, 0.3);
  --text-light: #FFFFFF;

}

/* FONTS */

body {
  font-family: "Open Sans", sans-serif;
}


/* NAVBAR */


.navbar-header {
  display: flex;
  justify-content: space-between;
  padding: 20px 70px;
  background-color: var(--primary-color-background-light);
  flex-direction: row;
  align-items: center;
  position: relative;
  width: 100%;
}

.navbar-navigation {
  display: flex;
  /* width: 70%; */
  flex-grow: 2;
  justify-content: flex-end;
  gap: 50px;
}

.navbar-link {
  text-decoration: none;
  color: var(--text-color);
  text-transform: lowercase;
  /* font-size: 30px; */
  font-size: 1.3rem;
  letter-spacing: 7px;
}

.navbar-link:hover {
  color: var(--hover);
}

.navbar-logo {
  width: 150px;
  height: auto;
}


.hamburger {
  display: none;
}

/* Responsive - MOBILE */
@media (max-width: 768px) {
  .hamburger {
    display: flex;
    cursor: pointer;
    font-size: 1.5rem;
    background: none;
    border: none;
    z-index: 2;
  }

  .navbar-navigation {
    display: none;
    position: absolute;
    top: 125px;
    left: 0;
    background-color: var(--primary-color-background-light);
    gap: 10px;
    z-index: 1;
  }

  .navbar-navigation.open {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background-color: transparent;
    line-height: 3rem;
    gap: 5px;
    padding-top: 5px;
  }

  .navbar-link {
    display: inline-block;
    background-color: var(--primary-color-background-light);
    width: 90%;
    text-align: center;
    border: 1px solid var(--button-border-black);
    border-radius: 5px;
    font-size: 0.8rem;
    letter-spacing: 6px;
  }

  .navbar-link:hover {
    background-color: transparent;
  }

  .navbar-header {
    /* height: 70px; */
    padding-left: 5%;
    padding-right: 5%;
  }

  .navbar-logo {
    width: 80px;
  }
}

/* HOME */
/* HERO SECTION */

.hero-section {
  background-image: url('./img/heroo1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}



.button-hero {
  border: 1.2px solid var(--primary-color-background-transparent);
  border-radius: 15px;
  background-color: transparent;
  font-size: 1.1rem;
  letter-spacing: 15px;
  color: var(--text-color);
  margin: 50px;
  padding: 10px 40px;
  text-transform: lowercase;
  cursor: pointer;
}


.button-hero:hover {
  border: 0px solid var(--border);
  background-color: var(--primary-color-background-transparent);
  color: var(--hover);
}

.buttons-hero {
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
  justify-content: center;
  padding-top: 80px;
}

/* Responsive - MOBILE */
@media (max-width: 768px) {
  .buttons-hero {
    flex-direction: column;
    padding-top: 15%;
    padding-top: 90px;
  }

  .button-hero {
    font-size: 0.9rem;
    padding: 47px 12px;
    letter-spacing: 12px;
    margin: 35px;
  }

  .hero-section {
    background-image: url('./img/hero-mobile.jpg');
    background-position: center;
    justify-content: flex-start;
    align-items: center;
  }
}

/* ABOUT US - O NAS */

.aboutus {
  background-color: var(--secondary-background);
  color: var(--text-color);
  padding: 170px 40px;
  letter-spacing: 3px;
  line-height: 40px;
  min-height: 100vh;
}

.paragraphs-aboutus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
  gap: 40px;
}

/* Responsive - MOBILE */
@media (max-width: 768px) {
  .paragraphs-aboutus {
    font-size: 1.2rem;
  }
}


/* IMAGES - ABOUT US */


.figures {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

@media (max-width: 768px) {
  .figures {
    flex-direction: column;
  }
}

.figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-profile-wrapper {
  width: 200px;
  height: 200px;

}

.img-profile {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: solid 1px var(--border);
}


.name-aboutus {
  font-family: "Playwrite CZ", cursive;
  padding: 30px;
}

/* CONTACT */
/* CONTACT ADDRESS */

.contact {
  background-color: var(--secondary-background);
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
  padding-bottom: 40px;
  letter-spacing: 1.2px;
}

@media (max-width: 768px) {
  .contact {
    padding-top: 170px;
  }
}

.address {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;

}

.email a {
  text-decoration: none;
  color: var(--text-color);
}

.email a:hover {
  color: var(--hover)
}

/* CONTACT - GOOGLE.MAP */

.google-map {
  text-align: center;
  padding: 40px;
}

.google-map iframe {
  border-radius: 5px;
}

/* KADERNICTVI */
.kadernictvi {
  min-height: 100vh;
  background-color: var(--secondary-background);
  padding: 170px 40px;
}

/* KOZMETIKA */

.kozmetika {
  min-height: 100vh;
  background-color: var(--secondary-background);
  padding: 170px 40px;
}

/* ERROR 404 PAGES */

.error-section {
  background-color: var(--secondary-background);
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  letter-spacing: 1.2px;
  padding-top: 130px;
}

.error-section h2 {
  font-size: 75px;
}

.error-link {
  text-decoration: none;
  color: var(--text-color);
  background-color: var(--primary-color-background-transparent);
  text-align: center;
  border: 1px solid var(--button-border-black);
  border-radius: 5px;
  font-size: 0.8rem;
  letter-spacing: 5px;
  padding: 5px 10px;
}

.error-link:hover {
  background-color: var(--primary-color-background-light);
  color: var(--hover);
}

@media (max-width: 768px) {
  .error-link {
    letter-spacing: 3px;
  }

  @media (max-width: 474px) {
    .error-link {
      font-size: 0.5rem;
    }
  }
}


/* FOOTER */

/* FOOTER - WEB DESIGN  */

.web-design {
  font-size: 0.7rem;
  color: var(--text-light);
}

.fa-heart {
  color: var(--heart-icon);
}

.web-design-mari {
  text-decoration: none;
  color: var(--text-light)
}

.web-design-mari:hover {
  color: var(--hover);
}


/* FOOTER */

.footer {
  background-color: var(--primary-color-background-dark);
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 70px;
}

.footer-links {
  display: flex;
  flex-direction: row;
  /* justify-content: flex-end; */
  align-items: center;
}

.social-media-icon {
  color: var(--primary-color-background-light);
  font-size: 1.5rem;
  margin-left: 70px;
}

.social-media-icon:hover {
  color: var(--hover);
}

.copyright {
  color: var(--text-light);
  /* margin: 30px 20px 20px 20px; */
  font-size: 0.7rem;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .footer-links {
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
  }

  .social-media-icon {
    margin-left: 0;
  }
}

/* CZECH HANDWRITING FONT: font-family: "Playwrite CZ", cursive; */
